<!doctype html>
<html>
<head>
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
 <div class="roboto"><div class="glyphicon glyphicon-eye-open"></div>Judgemental Eye Ratings app</div>
 {% if 'user_id' in session.keys() %}
    <p>You are logged in</p>
    <a href="/logged-out"><button>Log out</button></a>
 {% else %}
    <a href="/login-form"><button>Login</button></a>
    <a href="/registration-form"><button>Register</button></a>
 {% endif %}
  <hr>

  {% block content %} put your content here {% endblock %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>