{% extends 'base.html' %}
{% block content %}


<h1>title: {{ movie.title }}</h1>
<h2>Released: {{ movie.released_at }}</h2>
<p><a href="{{movie.imdb_url}}">See on IMDB</a></p>
{% if 'user_id' in session.keys() %}
    <form action="/rate-movie" method="POST">
        <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
        1<input type="radio" name='stars' value="1">
        2<input type="radio" name='stars' value="2">
        3<input type="radio" name='stars' value="3">
        4<input type="radio" name='stars' value="4">
        5<input type="radio" name='stars' value="5">
        <input type="submit">
    </form>
{% endif %}
{% for rating in ratings %}</p>
  <ul>
        {% for num in range(rating.score) %}
        <div class='glyphicon glyphicon-star'>
        {% endfor %}
  </ul>
{% endfor %}


{% endblock %}